*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #33475b;
}

ul {
list-style: none;
}



a{
  text-decoration: none;
  color: #33475b;
}
.btn {
  height: 60px;
  width:50%;
  padding: 14px 25px;
  border: 3px solid #FF7A59;
  border-radius: 7px;

}
.btc {
  height: 59px;
    width: 47%;
  padding: 14px 25px;
  border: 3px solid #FF7A59;
  border-radius: 7px;


}

.btnfree{
  height: 40px;
  width:30%;
  padding: 10px;
  border: 3px solid #FF7A59;
  border-radius: 7px;

}

.orange{
  background-color: #FF7A59;

}



.clearfix::after{
  content: "";
  display: table;
  clear: both;
}




.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;

}

.fl{
  float: left;
}
.fr{
  float: right;
}

.header-top{
  width: 100%;
  height: 80px;

line-height: 80px;
border-bottom: 1px solid black;



}


.header-bottom{
  height: 80px;
}
.header-top-left{

  width: 50%;

}
.header-top-right{
  width: 30%;

  text-align: right;
}


header ul  li {
  display: inline-block;
  padding: 0 10px;
}

main ul  li {
  display: inline-block;
  padding: 0 10px;
}


/*
.header-bottom-left{
  /* height: 80px;
  width: 30%;
  background-color: red; */
} */
.header-bottom-right{
  /* height: 80px; */
  width: 70%;

}





/* immaginni huspot */
.hubspot-logo{
  padding-top: 20px;
}


.header-bottom-right ul {
  padding-top: 25px;
  text-align: right;
}

.jumbotron{
  height:600px;
  background-image: url('../immagginicopy/jumbotron.png');
position: relative;
top:0%;

}

.jumbotron-bottom{
  height: 100px;
  background-color: #A4E9E1;
  border-top: 2px  solid #33475B;
  border-bottom: 2px solid #33475B;
}



main{
  height: 1000px;

  background-color: darkblue;
}





/* debug */
.h-200{
  height: 200px;
}

.h-500{
  height: 500px;
}



.testo-title{
  font-size: 40px;
}

.testo{

width: 400px;
text-align: justify;
padding-top: 60px;
}

.img-logo{
  height: 300px;
  width: 40%
}

.section-logo{
  width: 100%;
  padding-top: 40px;
  background-color: #F5F8FA;
  text-align: center;
}

.second-label-main{

  height: 500px;

  width: 100%;
  background-color: #F5F8FA;
  padding-top: 80px;
  padding-left: 100px;



}
.second-label-left{
  height: 300px;
  width:400px ;
  background-color: white;
  display: inline-block;
  text-align: center;
  border: 3px solid white;
  border-radius: 7px;  }

  .second-label-right{
    height: 300px;
    width:600px ;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    border: 3px solid white;
    border-radius: 7px;
    }

.second-label-left p{
margin-left: 100px;
margin-top: 40px;

}

.second-label-left img{
  height: 150px;
  padding-top: 30PX;
}

.section-three{

  height: 802px;

width: 100%;
background-color:  #F5F8FA;
/* padding: 200px; */
text-align: center;
}


.block1{
  height: 720px;
  width:266px;
background-color:  white;
line-height:33.6px;
text-align: center;
border: -30px solid  #FF7A59;
border-radius: 7px;
display: inline-block;


}

}
.list{
list-style: none;

}

.line{
  border: 1px solid #BBBBBB;
  width:248px;
  margin: auto;"

}

.list ul{

margin-top: 20px;}


.section-five{
  /* height: 350px; */
  width: 100%;
  background-color: #51B0B2;
}

.top-row{
  /* height: 312px; */
  padding: 80px;
  text-align: center;
  color: white;

  background-color: #51B0B2;

}
.top-row p{
  font-size: 21px;
  height: 80px;
  color: white;
}

.head{
  font-size: 41px;
}

.section-six{
  height: 600px;
  width: 100%;
  text-align: center;
  background-color: #51B0B2;
}

.row-table{
  height: 197px;
  width: 1005px;
  text-align: center;
  background-color:  white;

}

.box1{
  height: 195px;
  width: 248px;
  height: 195px;

  padding: 30px 29px;
  line-height: 2.1;
  text-align: center;
  margin-bottom: 3px;
  color: white;
  background-color:  #51B0B2;
  display: inline-block;


}
